.DS_Store
._.DS_Store
Thumbs.db
/.claude
/.env
/.env.local
/.pnpmfile.cjs
/.nvm
/.tap
/.type-coverage
/.vscode
/coverage
/npm-debug.log
**/.cache
**/node_modules
**/*.tmp
**/*.tsbuildinfo
/dist

# Allow specific files
!/.vscode/extensions.json
**/html
